
@mixin d-flex-column {
    display:flex;
    flex-direction: column;
}

@mixin d-flex-row {
    display:flex;
    flex-direction: row;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
position: relative;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
body{
    /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

}