
.home{
    @include d-flex-row;
    justify-content: space-between;
    flex-basis: calc(100vw - 400px );
    img{
        height: 550px;
        margin-top: -8rem;
        margin-right: 3rem;
    }
}
