.projects{
    position: relative;
    @include d-flex-column;
    // align-items: center;
    flex-basis: calc(100vw - 300px );
    &__title{
        color: $black;
        font-size: 70px;
        cursor: default;
    }
    &__subtitle{
        color: $black;
        padding: 1rem 0;
    }
    &__collection{
        margin: 3rem 0;
        display: grid;
        @media(min-width:$ipadpro){grid-template-columns: auto auto auto; gap:5rem;}
        .collection__card{
           display: block;
           transition: background-color 0.5s;
           text-align: left;
           .card__title{
            color: $black;
           }
           .card__details{
            color: $black;
            padding: 1rem 0;
            }
            &:hover,&:focus{
                // background-color: rgba($color: $lightBlue, $alpha: 0.3) ;
                .card__details{
                color: $black;
                }
            }
        }
    }
}