
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.light{
    font-weight: 200;
}
.regular{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}